@font-face {
    font-family: "Netflix Sans";
    font-weight: 400;
    src: url(../font/NetflixSans_W_Md.woff2) format("woff2");
}

html,
body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 16px;
    word-break: keep-all;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 3.125rem;
    line-height: normal;
}

h2 {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem auto;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

/* layout */
.inner {
    padding: 70px 45px;
    color: #fff;
    border-bottom: 8px solid #222;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-box {
    width: 52%;
    height: 100%;
    padding: 0 3rem 0 0;
}

.img-box {
    position: relative;
    width: 48%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    h2 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px), 
only screen and (min-width: 400px) and (max-width: 549px), 
only screen and (min-width: 350px) and (max-width: 399px), 
only screen and (max-width: 349px) {
    .inner {
        padding: 50px 5%;
    }
    .container {
        flex-direction: column;
    }
    .text-box {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .img-box {
        width: 100%;
        max-width: 600px;
        margin-top: 1em;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.125rem;
    }
}
