.basic-layout {
    width: 100%;
}

/* header */
.header-wrap {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    padding-top: 20px;
    background-color: transparent;
    z-index: 10;
}

.header {
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 0.5rem;
    margin: 0 3.5rem;
}

/*.header .logo-wrap {
    display: block;
    fill: #e50914;
    line-height: normal;
    margin-right: auto;/*나란히 있던 다른 요소를 오른쪽으로 다 밀어버림*/
/* }  */

.header .logo-wrap {
    position: fixed;
    top: 20px;
    left: 3.5rem;
    fill: #e50914;
    line-height: normal;
}

.logo {
    width: 10.4375rem;
    height: 2.8125rem;
}

/* .header-right {
    display: inline-flex;
    align-items: center;
} */

.header-right {
    position: fixed;
    top: 20px;
    right: 3.5rem;
    display: inline-flex;
    align-items: center;
}

.header-text {
    font-size: 1rem;
    color: #fff;
}

.header-right a {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 7px 17px;
    color: #fff;
    background-color: #e50914;
    border-radius: 3px;
    margin-left: 0.5rem;
}

@media only screen and (min-width: 950px) and (max-width: 1449px){
    .header-wrap {
        height: 4rem;
    }
    .logo {
        width: 8.375rem;
        height: 2.25rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    .logo {
        width: 6.75rem;
        height: 2rem;
    }
    .header {
        margin: 0 45px;
    }
    .header .logo-wrap {
        left: 45px;
    }
    .header-right {
        right: 45px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px), 
only screen and (min-width: 400px) and (max-width: 549px), 
only screen and (min-width: 350px) and (max-width: 399px), 
only screen and (max-width: 349px) {
    .header-wrap {
        height: 65px;
    }
    .header-text {
        display: none;
    }
}

@media only screen and (min-width: 400px) and (max-width: 549px), 
only screen and (min-width: 350px) and (max-width: 399px), 
only screen and (max-width: 349px) {
    .header {
        margin: 0 5%;
    }
    .header .logo-wrap {
        left: 5%;
    }
    .header-right {
        right: 5%;
    }
    .logo {
        width: auto;
        height: 1.5rem;
    }
    .header-right a {
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
    }
    
}

/* hero */
.hero-wrap {
    width: 100%;
}

.hero-wrap .inner {
    position: relative;
    height: 100%;
}

.hero-background {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    width: 100%;
    max-height: 815.781px;
    height: 100%;
}

.hero-img .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 15%;
    opacity: 0;
    transition: .2s;
}

.hero-img .slide.visible {
    opacity: 1;
    transition: .2s;
}

.hero-img-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba(0,0,0,0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.6) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.6) 100%);

    /* to top: 0deg, to right: 90deg, to bottom: 180deg, to left: 270deg */
}

.hero-text-box {
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto; 
    text-align: center;
    z-index: 1;
}

.hero-text-box h1,
.hero-text-box h2 {
    max-width: 640px;
    margin: 0 auto;
}

.hero-text-box h2 {
    margin: 1rem auto;
}

.hero-text-box form {
    display: flex;
    max-width: 950px;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 0.85rem;
}

.hero-text-box form h3 {
    max-width: none;
    padding: 0 5%; 
    padding-bottom: 20px;
    margin: 0 auto; 
}

.hero-text-box .email-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 10px; 
}

.hero-text-box .email-wrap input {
    display: inline-block;
    min-width: 450px;
    width: 100%;
    height: 60px;
    padding: 10px 10px 0;
    border: solid 1px #8c8c8c;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.hero-text-box .email-wrap input::placeholder {
    font-size: 16px;
}

.hero-text-box .email-wrap button {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.625rem;
    min-height: 60px;
    width: auto;
    padding: 0 1em;
    color: #fff;
    background-color: #e50914;
    border-radius: 0 3px 3px 0;
    border: none;
    border-left: 1px solid #333;
    white-space: nowrap;
}

.hero-text-box .email-wrap button span:last-child {
    position: relative;
    display: inline-block;
    width: 0.35em;
    height: 0.75em;
    margin: 0 0 0 .5em;
}

.hero-text-box .email-wrap button span:last-child svg {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px 0;
    height: 100%;
}

.hero-text-box .email-wrap button span:last-child svg path {
    fill: #fff;
}

.hero-text-box h3 {
    margin: 0.75em 0 0.25em;
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    .hero-img {
        height: 854px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px), 
only screen and (min-width: 400px) and (max-width: 549px), 
only screen and (min-width: 350px) and (max-width: 399px), 
only screen and (max-width: 349px) {
    .hero-background {
        top: -70px;
    }
    .hero-text-box {
        padding: 30px 0;
    }
    .hero-text-box .email-wrap {
        flex-direction: column;
        margin-bottom: 0;
    }
    .hero-text-box .email-wrap input {
        width: 100%;
        min-width: 300px;
        margin-bottom: 20px;
        border-radius: 3px;
    }
    .hero-text-box .email-wrap button {
        font-size: 1rem;
        min-height: 40px;
        width: auto;
        border-radius: 3px;
    }
}

/* TV */
.text-box h1 {
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    opacity: 0;
}

.text-box h2 {
    margin: 0.75em 0 0.25em;
    opacity: 0;
}

.img-box img {
    position: relative;
    max-width: 100%;
    z-index: 2;
}

.img-box .video-wrap {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
}

.img-box .video-wrap video {
    width: 100%;
    height: 100%;
}

/* Download */
#download .container {
    flex-direction: row-reverse;
}

#download .text-box {
    width: 52%;
    height: 100%;
    padding: 0 0 0 3rem;
}

#download .img-box .img-wrap {
    position: relative;
    min-height: 100px;
    width: 100%;
    margin: -8% 0 -4% -15%;
}

.box-shot {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 15em;
    padding: 0.5em 0.75em;
    border: 2px solid rgba(255,255,255,.25);
    box-shadow: 0 0 2em 0 #000;
    border-radius: 0.75em;
    background: #000;
    z-index: 5;
}

.box-shot:after {
    content: "";
    position:absolute;
    right: 0.75em;
    width: 3em;
    height: 3.75em;
    background-image: url(../img/icon/download-icon.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.box-shot img {
    height: 5em;
    margin: 0 1em 0 0;
}

.box-shot .box-shot-text {
    margin: 0.3em 0;
}

.box-shot .box-shot-text p:first-child {
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}

.box-shot .box-shot-text p:last-child {
    font-size: 0.9em;
    font-weight: 400;
    color: #0071eb;
}

/* Device */
#device .text-box {
    margin: -2% 0;
    padding: 0 2rem 0 0;
}

#device .img-box .img-wrap {
    margin: -5% -10% 0 0;
}

#device .video-wrap {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    .text-box h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px), 
only screen and (min-width: 400px) and (max-width: 549px), 
only screen and (min-width: 350px) and (max-width: 399px), 
only screen and (max-width: 349px) {
    #download .container {
        flex-direction: column;
    }
    #download .text-box {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    #download .img-box .img-wrap {
        margin: -8% 0 0 0;
    }
    .box-shot img {
        height: 3em;
    }
    .text-box h1 {
        font-size: 1.625rem;
    }
    .text-box h2 {
        font-size: 1.125rem;
    }
    #device .img-box .img-wrap {
        margin: -5% 0 0 0;
    }
    
.box-shot {
    padding: 0.25em 0.65em;
}
}

/* FAQ */
.faq-text-wrap {
    text-align: center;
}

.faq-text-wrap h1 {
    margin-bottom: 0.5rem;
}

.faq-list {
    width: 75%;
    max-width: 815px;
    margin: 2em auto;
}

.faq-list .faq-item {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0 0 8px 0;
}

.faq-list .faq-item .btn {
    position: relative;
    display: block;
    width: 100%;
    font-size: inherit;
    font-weight: 400;
    padding: .8em 2.2em .8em 1.2em;
    margin-bottom: 1px;
    border: 0;
    text-align: left;
    color: #fff;
    /* background: #303030; */
    cursor: pointer;
}

.close .svg-icon {
    position: absolute;
    right: 1em;
    top: 50%;
    height: 1em;
    width: 1em;
    fill: #fff;
    transform: translateY(-50%) rotate(-45deg);
    transition: .3s;
}

.open .svg-icon {
    position: absolute;
    right: 1em;
    top: 50%;
    height: 1em;
    width: 1em;
    fill: #fff;
    transform: translateY(-50%);
    transition: .3s;
}

.open .faq-answer {
    max-height: 1200px;
    font-size: 1.625rem;
    font-weight: 400;
    text-align: left;
    /* background: #303030; */
    transition: max-height .3s ease-in-out;
}

.close .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.faq-answer span {
    display: inline-block;
    text-align: left;
    padding: 1.2em;
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    .faq-list {
        width: 90%;
        max-width: 815px;
        margin: 1.5em auto;
    }
    .faq-list .faq-item,
    .open .faq-answer {
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 550px) and (max-width: 949px), 
only screen and (min-width: 400px) and (max-width: 549px), 
only screen and (min-width: 350px) and (max-width: 399px), 
only screen and (max-width: 349px){
    .faq-list .faq-item,
    .open .faq-answer {
        font-size: 1.125rem;
    }
    #question .inner {
        padding: 50px 0;
    }
    .faq-list {
        width: 100%;
        max-width: 815px;
        margin: 1.25em auto;
    }
}

/* footer */
footer {
    max-width: 1000px;
    margin: 0 auto;
}

footer .inner {
    padding-bottom: 20px;
    border-bottom: none;
}

footer .inner .site-footer {
    position: relative;
    min-width: 190px;
    width: 90%;
    margin: 0 auto;
    font-size: 1em;
    color: #757575;
}

footer .inner .site-footer p:first-child {
    margin: 0 0 30px;
}

footer .inner .site-footer .footer-link {
    max-width: 1000px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
}

footer .inner .site-footer .footer-link li {
    width: 25%;
    min-width: 100px;
    padding-right: 12px;
    margin-bottom: 16px;
}

footer .inner .site-footer .footer-link li a {
    color: #757575;
    transition: color .2s;
}

footer .inner .site-footer .footer-link li a:hover {
    color: #fff;
}

footer .inner .site-footer .lang {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

footer .inner .site-footer .lang select {
    font-size: 16px;
    line-height: 1.7;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    color: #999;
    padding: 12px 26px 12px 50px;
}

.lang:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 16px;
    height: 20px;
    background-image: url(../img/icon/baseline_language_white_18dp.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-country {
    font-size: 13px;
    margin-top: 24px;
}

footer .netflix-text {
    color: #e50914;
}

.copy-text,
.copy-text a {
    color: grey;
    margin: 20px 0;
    font-size: .75em;
    line-height: 1em;
    transition: .2s;
}

.copy-text a:hover {
    color: #fff;
}

.copy-text div~div {
    margin-top: 4px;
}
